
body {
  font: 14px sans-serif;
}

/*
  La lista de weather-condition mains están en:
  https://openweathermap.org/weather-conditions
  
  Thunderstorm
  Drizzle
  Rain
  Snow
  { Mist, Smoke, Haze, Dust, Fog, Sand, Dust, Ash, Squall, Tornado }
  Clear
  Clouds
  
  Ejemplo: .weather-card-clear
*/
