
body {
  font: 14px sans-serif;
  background-image: url("./images/soleado.png");
  background-repeat: no-repeat;
  width: 750px;
}

/*
  La lista de weather-condition mains están en:
  https://openweathermap.org/weather-conditions
  
  Thunderstorm
  Drizzle
  Rain
  Snow
  { Mist, Smoke, Haze, Dust, Fog, Sand, Dust, Ash, Squall, Tornado }
  Clear
  Clouds
  
  Ejemplo: .weather-card-clear
*/
.weather-card { float: right; }
.weather-card .label { color: #011627; }
.weather-card .value { font-weight: bold; }

.weather-card .description {
  font-weight: bold;
}

.selected { border-style: inset; }

.day-selector { position:absolute; top:450px; }